<div class="container">
    <div class="row p-5 justify-content-center">
        <div class="col">
            <h3>Usuario: {{mostrarPerfil.login}}</h3>
            <img [src]="mostrarPerfil.avatar_url" alt="Imagen Perfil" style="width:40%">
        </div>
        <div class="col">
            <div class="row">
                <p>Hola! Me llamo Ailen Melina Torrez.</p>
                <p>Tengo 22 años y me encuentro trabajando como Analista Programador COBOL.</p> 
                <a [href]="mostrarPerfil.html_url" style="width: auto;"><img src="../../../assets/github.png" alt="GhIco" style="width: 2em;">Github</a>
            </div>
        </div>
        <div class="row mt-4" >
            <h4>Juego Propio</h4>
            <p><b>Descripcion:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit optio aliquid minima. Doloremque placeat, accusamus laboriosam labore dignissimos minus reprehenderit porro adipisci ut maiores quo provident, facilis recusandae sed soluta.</p>
        </div>
    </div>
</div> 
