<!-- xD -->
<!-- <app-menu></app-menu> -->
<!-- xD -->
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Ingreso </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="./assets/login.png" id="icon" alt="User Icon" style="width: 30px;"/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="emailL" class="fadeIn second" name="loginEmail" placeholder="login" [(ngModel)]="miUsuario.mailU" required>
        <input type="text" id="claveL" class="fadeIn third" name="loginClave" placeholder="password" [(ngModel)]="miUsuario.claveU" required>
        <input type="submit" class="fadeIn fourth" value="Ingresar"
        (click)="login()">
      </form>
   </div>
  </div>