<!-- ORIGINAL  -->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Registro </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../../../assets/registrar.png" id="icon" alt="User Icon" style="width: 30px;" />
        </div>

        <!-- Registro Form -->
        <form [formGroup]="formRegistro" (ngSubmit)="this.registrar()">
            <label for="emailR">Mail:</label>
            <br>
            <input type="text" id="emailR" class="fadeIn second" name="registroEmail" placeholder="Ingrese mail" formControlName="emailR">
            <small class="invalid" *ngIf="formRegistro.controls['emailR'].errors?.['required'] && formRegistro.controls['emailR'].touched">El email es requerido</small>
            <small class="invalid" *ngIf="formRegistro.controls['emailR'].errors?.['email'] && formRegistro.controls['emailR'].touched">El email debe tener el formato correspondiente</small>
            <small class="invalid" *ngIf="formRegistro.controls['emailR'].errors?.['containsSpaces'] && formRegistro.controls['emailR'].touched">El email no puede contener espacios</small>

            <label for="claveR">Contraseña:</label>
            <br>
            <input type="password" id="claveR" class="fadeIn third" name="registroClave" placeholder="Ingrese contraseña" formControlName="claveR">
            <small class="invalid" *ngIf="formRegistro.controls['claveR'].errors?.['required'] && formRegistro.controls['claveR'].touched">La clave es requerida</small>
            <small class="invalid" *ngIf="formRegistro.controls['claveR'].errors?.['containsSpaces'] && formRegistro.controls['claveR'].touched">La clave no puede contener espacios</small>

            <br>
            <label for="perfilR">Perfil: </label>
            <br>
            <select id="perfilR" formControlName="perfilR">
                <option value="">Seleccione uno</option>
                <option value="admin">Admin</option>
                <option value="empleado">Empleado</option>
            </select>
            <small class="invalid" *ngIf="formRegistro.controls['perfilR'].errors?.['required'] && formRegistro.controls['perfilR'].touched">El perfil es requerido</small>
            <br><br>
            <input type="submit" class="fadeIn fourth" value="Ingresar" [disabled]="formRegistro.invalid">
        </form>
    </div>
</div>
    