<!-- xD -->
<!-- <app-menu></app-menu> -->
<!-- xD -->
<div class="container">
    <div class="row justify-content-center">
        <p class="text-center p-5">
            Hola! Me llamo Ailen Melina Torrez, legajo 108102.
            Actualmente estoy cursando el ultimo año de la tecnicatura en programacion. 
            Y me encuentro trabajando como Analista Programador COBOL.
            En caso de necesitarlo, mi mail es: ailentorrez26@gmail.com
        </p>
    </div>
    <div class="row justify-content-center">
        <img src="./assets/dinosaurio.jpg" style="width: 40vw">
    </div>
</div>
