<!-- xD -->
<!-- <app-menu></app-menu> -->
<!-- xD -->
<h3 class="text-center p-5">¿Seguro que quieres salir?</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-2">
            <button (click)="Salir()" class="btn btn-success" type="button" name="btnA" id="btnAceptar">Aceptar</button>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="text-center p-5">En caso de no querer salir, seguiras logueado a la pagina y podras recorrerla</p>
    </div>
</div> 