<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Ingreso </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="./assets/login.png" id="icon" alt="User Icon" style="width: 30px;" /> 
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="this.ingresar()">
      <label for="emailL">Mail:</label>
      <input type="text" id="emailL" class="fadeIn second" name="loginEmail" placeholder="Ingrese mail" [(ngModel)]="this.miUsuario.mail">
      <label for="claveL">Contraseña:</label>
      <input type="password" id="claveL" class="fadeIn third" name="loginClave" placeholder="Ingrese contraseña" [(ngModel)]="this.miUsuario.clave">
      <div class="row justify-content-center">
        <input type="submit" class="fadeIn fourth p-2 col-2" value="Ingresar">
        <input type="button" class="fadeIn fourth p-2 col-2" value="Invalido" (click)="this.llenar('noesta@gmail.com', 'asd789')">
        <input type="button" class="fadeIn fourth p-2 col-2" value="valido" (click)="this.llenar('esta@gmail.com','hola123')">
      </div>
    </form>
  </div>
</div>