<!-- xD -->
<!-- <app-menu></app-menu> -->
<!-- xD -->
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Registro </h2>
      <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="./assets/registrar.png" id="icon" alt="User Icon" style="width: 50px;"/>
      </div>
  
      <!-- Registro Form -->
      <form>
        <input type="text" id="nombreR" class="fadeIn second" name="registroNombre" placeholder="Email" [(ngModel)]="miUsuario.nombreU" required>
        <input type="text" id="emailR" class="fadeIn second" name="registroEmail" placeholder="Email" [(ngModel)]="miUsuario.mailU" required>
        <input type="text" id="claveR" class="fadeIn third" name="registroClave" placeholder="Contraseña" [(ngModel)]="miUsuario.claveU" required>
        <input type="submit" class="fadeIn fourth" value="Registrarse"
        (click)="registrar()">
      </form>
    </div>
  </div>
